@import "variables.scss";

/*------------------
card section
--------------------*/
.card-section {
    padding: 80px 0 80px;
    min-height: 100vh;

}

.card-section .section-title {
    margin-bottom: 40px;
}

.card-section .card-filter {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.card-section .filter-item {
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.3s ease;
}

.card-section .filter-item:hover:not(.active) {
    opacity: 0.6;
}

.card-section .filter-item.active {
    color: var(--skin-color);
}

.card-section .card-item {
    flex: 0 0 33.33%;
    max-width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card-section .card-item.hide {
    display: none;
}

.card-section .card-item.show {
    display: block;
    animation: fadeInTop 0.5s ease;
}

.card-section .card-item-inner {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.card-section .card-item-img .animate {
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

.card-section .card-item-inner:hover .card-item-img .animate {
    transform: translateY(-25px);
}

.card-section .card-item-img {
    position: relative;
}

.card-section .card-item-img .view-card {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0;
}

.card-section .card-item-inner:hover .view-card {
    transform: translateY(0px);
    opacity: 1;
}

.card-section .card-item-details {
    display: none;
}

.card-section .card-item-inner p {
    font-size: 16px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    text-transform: capitalize;
}

/*------------------
card pocpup
--------------------*/
.card-popup {
    background-color: var(--bg-black-50);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.card-popup .cp-loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    background-color: var(--bg-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.card-popup .cp-loader.active {
    visibility: visible;
    opacity: 1;
}

.card-popup .cp-loader div {
    height: 40px;
    width: 40px;
    border: 3px solid var(--skin-color);
    border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spin 2s linear infinite;
}

.card-popup.open {
    visibility: visible;
    opacity: 1;
}

.card-popup .cp-details {
    max-width: 1350px;
    width: calc(85% + 30px);
    margin: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.card-popup .cp-details.active {
    opacity: 1;
    max-height: 489px;   //This should be Dynamic
}

.card-popup .cp-details-inner {
    padding: 30px 0;
}

.card-popup .cp-title {
    padding: 0 15px;
}

.card-popup .cp-title h2 {
    font-size: 28px;
    color: var(--text-black-900);
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 5px;
}

.card-popup .cp-title p {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-black-600);
    margin: 0 0 15px;
    border-bottom: 1px solid var(--bg-black-100);
    padding-bottom: 10px;
}

.card-popup .cp-title p span {
    font-weight: 400;
    text-transform: capitalize;
}

.card-popup .cp-details h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 15px;
    text-transform: capitalize;
}

.card-popup .description {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px;
}

.card-popup .description p {
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
}

.card-popup .info {
    flex: 0 0 35%;
    max-width: 65%;
    padding: 0 15px;
}

.card-popup .info ul li {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-black-600);
    font-size: 16px;
}

.card-popup .info ul li span {
    font-weight: 400;
}

.card-popup .info ul li a {
    color: var(--skin-color);
}

.card-popup .info ul li:last-child {
    margin-bottom: 0;
}

.card-popup .separator {
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--bg-black-100);
}

.card-popup .cp-img {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    border-right: 5px;
}

.card-popup .cp-main {
    min-height: 100vh;
    max-width: 1350px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-popup .cp-main-inner {
    padding: 70px 0 50px;
    position: relative;
}

.card-popup .cp-details-btn {
    position: absolute;
    left: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    top: 15px;
    cursor: pointer;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease;
}

.card-popup .cp-details-btn i {
    margin-left: 5px;
}

.card-popup .cp-details-btn:after {
    border-radius: 30px;
}

.card-popup .cp-close {
    position: absolute;
    right: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 15px;
    text-align: center;
    line-height: 35px;
    font-size: 35px;
    color: var(--text-black-600);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-popup .cp-close:after {
    border-radius: 50%;
}

.card-popup .cp-counter {
    position: absolute;
    right: 0;
    height: 40px;
    line-height: 40px;
    bottom: 5px;
    font-size: 16px;
    color: var(--text-black-600);
}

.card-popup .cp-prev,
.card-popup .cp-next {
    position: fixed;
    top: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 1010;
    color: var(--text-black-900);
    transition: all 0.3s ease;
    opacity: 0.5;
}

.card-popup .cp-prev:hover,
.card-popup .cp-next:hover {
    opacity: 1;
}

.card-popup .cp-prev svg,
.card-popup .cp-next svg {
    line-height: 40px;
}

.card-popup .cp-prev svg {
    transform: rotate(180deg);
}

.card-popup .cp-prev {
    left: 15px;

}

.card-popup .cp-next {
    right: 15px;

}

/*Disable card*/

.disable .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.disable .content:before,
.disable .content:after {
    content: "";
    width: 100%;
    height: 50%;
    background: rgb(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s;
    opacity: 0;

}

.disable .content:before {
    top: -20%;
}

.disable .content:after {
    bottom: -20%;
}

.disable:hover .content:before {
    top: 0%;
    opacity: 0.8;
}

.disable:hover .content:after {
    bottom: 0%;
    opacity: 0.8;
}

.disable .mini-content {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    transform: rotate(90deg);
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
}

.disable:hover .mini-content {
    opacity: 1;
    transform: rotate(0deg);
}

.disable .social {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

.disable .social li {
    display: inline-block;
}

.disable .social li i {
    color: black;
    background: white;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.3s;
    cursor: auto;
}

.disable .social i:hover {
    color: #E01E48;
}

.disable .pending {
    color: #E01E48;
    font-size: 22px;
    margin-bottom: 7px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 600;
}

.prjt-brf li {
    list-style: inside;
    margin: 10px 0;
    color: var(--text-black-600);
}