.expenseDate{
    width: 140px;
    min-height: 100px;
    padding: 20px;
    background: #bf0707;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
}
.expenseDay{
    font-weight: bold;
    font-size: 40px;
}
.expenseMonth{
    font-size: 1.5rem;

}